* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.app {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  min-height: 100vh;
}

.nav {
  font-size: 18px;
  padding: 2rem 0;
  text-align: center;
  color: #15036e;
  min-height: 10vw;
  width: auto;
  background-color: #c2d6f1;
}

.nav button {
  color: #15036e;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #accbee;
  border: 1px solid rgb(140, 140, 177);
  box-shadow: 0 5px 10px hsl(212, 18%, 35%), 0 2px 5px hsl(212, 18%, 35%);
}

.beerCard {
  display: flex;
  text-align: start;
  justify-content: space-around;
  min-height: 10vw;
  align-items: start;
}

.BeerInfo img {
  margin: 1rem 0;
  height: 300px;
  width: 100px;
}

.BeerInfo .description {
  margin: 1rem 0;
  font-size: 18px;
  text-align: justify;
}

.BeerInfo .brewed {
  margin: 1rem 0;
  font-size: 18px;
  font-weight: bold;
}

.BeerInfo {
  padding: 1rem;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.beerFoods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

hr {
  color: chartreuse;
}
.beerFoods ul {
  font-size: 16px;
  font-style: italic;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
